body {
    font-family:'Courier New', Courier, monospace;
    text-align: center;
}

#board {
    /* background-color: skyblue; */
    background-image: url("./flappybirdbg.png");
}
/* flappybird.css */

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

#board {
    display: block;
    margin: 0 auto;
    background-color: #70c5ce;
}

#start-screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: Arial, sans-serif;
}

#start-button {
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    margin-top: 20px;
    border: none;
    background-color: #ff6600;
    color: white;
    border-radius: 5px;
}

#start-button:hover {
    background-color: #ff4500;
}
